# Logs
logs
*.log

# Dependencies
node_modules/

# Build output
dist/
.astro/
tsconfig.tsbuildinfo

# Mac shit
.DS_Store

# Don't leak me secrets
.env.production
*.jwt
*.jwk

# Cloudflare
.wrangler/
.dev.vars
