---
import Boy from "@/components/boy.tsx";
import Layout from "@/layouts/global.astro";
---

<Layout title="MoQ Boy" description="Play Game Boy games together over MoQ.">
	<center>
		<img src="/demo/moqboy.svg" class="h-40" alt="MoQ Boy" />
	</center>

	<Boy client:only="solid-js" />

	<p>Click a game to play. Multiple players can play at the same time; anarchy included.</p>

	<h3>Features:</h3>
	<ul>
		<li>
			🦀 <strong>Rust</strong>: <a href="https://doc.moq.dev/rs/crate/moq-boy">moq-boy</a> handles emulation and encoding.{" "}
			<a href="https://doc.moq.dev/rs/crate/moq-mux">moq-mux</a> slurps in H.264/Opus bitstreams while{" "}
			<a href="https://doc.moq.dev/rs/crate/moq-lite">moq-lite</a> handles the networking/caching.
		</li>
		<li>
			🌐 <strong>Web</strong>: <a href="https://doc.moq.dev/js/@moq/boy">@moq/boy</a> is the browser player.{" "}
			<a href="https://doc.moq.dev/js/@moq/watch">@moq/watch</a> handles decoding/rendering while{" "}
			<a href="https://doc.moq.dev/js/@moq/lite">@moq/lite</a> handles the networking.
		</li>
		<li>
			💤 <strong>On-Demand</strong>: Nothing is emulated or encoded until at least one viewer subscribes (per track). Saves you CPU and bandwidth!
		</li>
		<li>
			🧩 <strong>Extensible</strong>: Player controls and game status are sent as custom tracks (JSON in this case). You can do whatever you want!
		</li>
		<li>
			🌍 <strong>Global CDN</strong>: A generic MoQ CDN routes subscriptions over the backbone. Every client connects to the closest edge node to maximize QoS and minimize latency.
		</li>
		<li>
			🔍 <strong>Discoverable</strong>: The CDN announces which games are available <em>and</em> who wants to play. There's no custom orchistration layer; all clients connect to <code>cdn.moq.dev</code> <b>ONLY</b>.
		</li>
		<li>
			🤠 <strong>Texas</strong>: The emulators currently run in us-central, so your latency depends on your distance from the Lone Star State. Sorry about that euros; yee-haa.
		</li>
	</ul>
</Layout>
