<div class="flex items-center gap-8 mt-8">
	<a href="https://hang.live" rel="noreferrer" target="_blank">
		<img src="/hang.svg" class="w-32" alt="hang.live" />
	</a>
	<div>
		Want a better demo?
		<a href="https://hang.live" rel="noreferrer" target="_blank">hang.live</a> uses the same open-source libraries but adds more functionality on top.
		You'll need a friend though, or at least another tab (I won't judge).
	</div>
</div>
